$xxxl: 'only screen and (min-width: 1920px)';
$xxl: 'only screen and (max-width: 1919px)';
$xl: 'only screen and (max-width: 1399px)';
$lg: 'only screen and (max-width: 1199px)';
$md: 'only screen and (max-width: 991px)';
$sm: 'only screen and (max-width: 767px)';
$xs: '(max-width: 575px)';

/* faq area style  */
.faq-area {
    &-inner {
        padding-top: 117px;

        @media #{$xxl} {
            padding-top: 47px;
        }

        @media #{$lg} {
            padding-top: 27px;
        }

        @media #{$md} {
            padding-top: 27px;
        }
    }



    .section-content {
        margin-bottom: 100px;
        display: grid;
        gap: 30px 60px;
        grid-template-columns: 485px 960px;

        @media #{$xxl} {
            grid-template-columns: 400px 1fr;

        }

        @media #{$lg} {
            grid-template-columns: 300px 1fr;
        }

        @media #{$md} {
            grid-template-columns: auto;
        }

        .text {
            max-width: 410px;
        }

        .text-wrapper {
            margin-top: 24px;
            margin-inline-start: 220px;

            @media #{$lg} {
                margin-inline-start: 0;
            }
        }

        .wc-btn-underline {
            max-width: 300px;
            white-space: normal;
            font-size: 18px;
            line-height: 26px;
            font-family: var(--font_beatricetrial);
            text-transform: none;
            font-weight: 400;
            gap: 40px;
            padding-top: 20px;
            padding-bottom: 0;
            color: var(--primary);

            @media #{$lg} {
                max-width: 270px;
                font-size: 16px;
                padding-top: 15px;
            }

            &:before {
                top: 0;
                height: 1px;
            }

            i {
                transform: rotate(-45deg);
                font-size: 20px;
            }
        }
    }

    .accordion {

        .accordion-button {
            font-size: 24px;
            line-height: 1;
            color: var(--primary);
            padding-top: 24px;
            padding-bottom: 18px;
            padding-inline-start: 0;
            padding-inline-end: 0;
            background-color: rgba(0, 0, 0, 0);
            box-shadow: none;
            text-align: start;
            font-weight: 400;

            @media #{$xl} {
                font-size: 22px;

            }

            @media #{$lg} {
                font-size: 20px;

            }

            @media #{$sm} {
                line-height: 1.2;
            }

            &::after {
                content: "+";
                color: var(--primary);
                background-image: none;
                line-height: 1;
                width: auto;
                height: auto;
                font-size: 25px;
                margin-inline-start: 50px;
                margin-inline-start: auto;
                margin-inline-end: 0;
            }

            &:not(.collapsed) {
                pointer-events: none;

                &::after {
                    content: "-";
                }
            }
        }

        .accordion-item {
            border-bottom: 1px solid var(--border);
            background-color: transparent;
            border-radius: 0px;



            &:not(:first-child) {
                margin-top: 0px;
            }

            &:first-child {
                border-top: 1px solid var(--border);

            }
        }

        .accordion-body {
            font-size: 18px;
            line-height: 1.44;
            padding-inline-start: 0px;
            padding-inline-end: 0px;
            padding-bottom: 24px;
            padding-top: 0;
            color: var(--secondary);

            @media #{$md} {
                padding-bottom: 23px;
            }
        }
    }

    // .accordion-wrapper {
    //     margin-top: 93px;

    //     @media #{$xxl} {
    //         margin-top: 73px;

    //     }

    //     @media #{$xl} {
    //         margin-top: 53px;

    //     }

    //     @media #{$lg} {
    //         margin-top: 43px;

    //     }
    // }
}