version: '3.8'

services:
  angular-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4300:80" # Map port 8080 on the host to port 80 on the container
    restart: unless-stopped
