<div class="cursor1"></div>
<div class="cursor2"></div>

<!-- Sroll to top -->
<!-- <div class="progress-wrap">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
  </svg>
</div> -->

<!-- offcanvas start  -->
<div class="offcanvas-3__area">
  <div class="offcanvas-3__inner">
    <div class="offcanvas-3__meta-wrapper">
      <div class="">
        <button id="close_offcanvas" class="close-button close-offcanvas" onclick="hideCanvas3()">
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="">
        <div class="offcanvas-3__meta mb-145 d-none d-md-block">
          <!-- <ul>
            <li><a href="tel:+2-352698102" class="unnerline"><u>+2-352 698 102</u></a></li>
            <li><a href="mailto:contact&#64;me.com">contact&#64;me.com</a></li>
            <li><a href="">27 Division St, <br>
                New York, NY 10002, USA</a></li>
          </ul> -->
        </div>
        <!-- <div class="offcanvas-3__social d-none d-md-block">
          <p class="title">Follow Us</p>
          <div class="offcanvas-3__social-links">
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-dribbble"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
          </div>
        </div> -->
      </div>
    </div>
    <div class="offcanvas-3__menu-wrapper">
      <nav class="nav-menu offcanvas-3__menu">
        <li>
            <a class="menu-has-children">Company</a>
            <ul class="dp-menu">
              <li><a href="/about">About</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/faq">Faq</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </li>
          <li>
            <a class="menu-has-children">Solutions</a>
            <ul class="dp-menu">
              <li><a href="/service-web">Web & App Development</a></li>
              <li><a href="/service-marketing">Digital Marketing</a></li>
              <li><a href="/service-content">Creative Content</a></li>
              <!-- <li><a href="/case-studies">Case Studies</a></li> -->
            </ul>
          </li>
      </nav>
    </div>
  </div>
</div>
<!-- offcanvas end  -->


<!-- search modal start -->
<div class="modal fade" id="search-template" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="search-template" aria-hidden="true">
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <form action="#" class="form-search">
          <input type="text" placeholder="Search">
          <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- search modal end -->

<!-- Header area start -->
<header class="header-area">
  <div class="container large">
    <div class="header-area__inner">
      <div class="header__logo">
        <a href="#">
          <img src="./assets/imgs/nestor-new/nestor.png" alt="Site Logo">
        </a>
      </div>
      <div class="header__nav pos-center  mega-menu">
        <nav class="main-menu">
          <ul>
            <li class="menu-item-has-children"> 
              <a href="#">Company</a>
              <ul class="dp-menu first"><!-- First column-->
                <li class="container large d-flex">
                 
                    <div class="featured-block">
                      <div class="menu-title">Featured Reads</div>

                      <div class="featured-grid">
                        <a href="/service-content" >
                          <img src="assets/imgs/gallery/page-header1.png" alt="">
                          <div class="desc">Why Google Ads is Essential for SME</div>
                          <span class="pill">5 min read</span>
                        </a>

                        <a href="/service-content">
                          <img src="assets/imgs/gallery/page-header1.png" alt="">
                          <div class="desc">SEO vs Paid Ads</div>
                          <span class="pill">5 min read</span>
                        </a>
                      </div>

                      <a href="/blog" class="featured-btn">Read more →</a>
                    </div>




                  <div style="width: 50px;"></div> <!-- Second column-->
                  <div>
                    <div class="menu-title">Company</div>
                   <li>
                    <a href="/about">
                      <span class="title">About</span>
                      <span class="desc">Our story, mission and values behind the brand</span>
                    </a>
                  </li>

                  <li>
                    <a href="/blog">
                      <span class="title">Blog</span>
                      <span class="desc">Insights, tips and updates on tech and marketing</span>
                    </a>
                  </li>

                  <li>
                    <a href="/faq">
                      <span class="title">FAQ</span>
                      <span class="desc">Quick answers to common questions</span>
                    </a>
                  </li>

                  <li>
                    <a href="/contact">
                      <span class="title">Contact</span>
                      <span class="desc">Get in touch with our team anytime</span>
                    </a>
                  </li>

                  </div>
                </li>
                
                
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="#">Solutions</a> 
              <ul class="dp-menu">
                <li class="container large d-flex ">
                 <div class="featured-block">
                      <div class="menu-title">Let's Build Someting Together</div>

                      <div class="featured-grid-2">
                        <a href="/service-content" >
                          <img src="assets/imgs/gallery/page-header1.png" alt="">
                          <div class="desc">Talk to our team and get a clear direction for your web, marketing or content needs</div>
                          
                        </a>  
                      </div>

                      <a href="/blog" class="featured-btn">Contact Us →</a>
                    </div>
                  <!-- <div style="width: 50px;"></div> -->
                  <div  class="solutions-grid">
                    <div>
                     <div class="menu-title">Web & App Development</div>

                    <li>
                    <a href="/service-web">
                      <span class="title">Corporate Website</span>
                    </a>
                  </li>
                   <li>
                    <a href="/service-web">
                      <span class="title">E-Commerce Website</span>
                    </a>
                  </li>
                   <li>
                    <a href="/service-web">
                      <span class="title">Landing Page/Website</span>
                    </a>
                  </li>
                   <li>
                    <a href="/service-web">
                      <span class="title">Web Applications</span>
                    </a>
                  </li>
                  </div>
               


                   <div>
                    <div>
                     <div class="menu-title">Digital Marketing</div>

                    <li>
                    <a href="/service-marketing">
                      <span class="title">Social Media</span>
                    </a>
                  </li>
                   <li>
                    <a href="/service-marketing">
                      <span class="title">Paid Ads</span>
                    </a>
                  </li>
                   <li>
                    <a href="/service-marketing">
                      <span class="title">Influencer Marketing</span>
                    </a>
                  </li>
                   <li>
                    <a href="/service-marketing">
                      <span class="title">AI Search & Discovery</span>
                    </a>
                  </li>
</div>
                  </div>

                  <div>
                      <div>
                     <div class="menu-title">Creative Content</div>

                    <li>
                    <a href="/service-content">
                      <span class="title">Commercial Videos</span>
                    </a>
                  </li>
                   <li>
                    <a href="/service-content">
                      <span class="title">Production</span>
                    </a>
                  </li>
                   <li>
                    <a href="/service-content">
                      <span class="title">Editing & Enhancement</span>
                    </a>
                  </li>
                   <li>
                    <a href="/service-content">
                      <span class="title">Delivery & Optimization</span>
                    </a>
                  </li>
                  </div>
                  </div>
                     </div>
                </li>
                
                
              </ul>
            </li>
            <!-- <li class="menu-item-has-children">
              <a href="#">Technology</a>
              <ul class="dp-menu">
                <li><a href="#">Technology 1</a></li>
                <li><a href="#">Technology 2</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="#">Solutions</a>
              <ul class="dp-menu">
                <li><a href="#">Solution 1</a></li>
                <li><a href="#">Solution 2</a></li>
              </ul>
            </li> -->
          </ul>
        </nav>
      </div>
      <div class="header__button">
        <div class="wc-btn-group">
          <a class="wc-btn wc-btn-circle" href="/contact">
            <i class="fa-solid fa-arrow-right"></i>
          </a>
          <a class="wc-btn wc-btn-primary" href="/contact">Get started</a>
          <a class="wc-btn wc-btn-circle" href="/contaact">
            <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="header__navicon d-xl-none">
        <button onclick="showCanvas3()" class="open-offcanvas">
          <i class="fa-solid fa-bars text-white"></i></button>
      </div>
    </div>
  </div>
</header>
<!-- Header area end -->