<body class="font-heading-instumentsans-semibold">

  <app-page-header></app-page-header>

  <div class="has-smooth" id="has_smooth"></div>
  <div id="smooth-wrapper">
    <div id="smooth-content">
      <div class="body-wrapper body-branding-agency">

        <!-- overlay switcher close  -->
        <div class="overlay-switcher-close"></div>

        <main>

          <!-- hero area start  -->
          <section class="hero-area">
            <div class="area-bg"></div>
            <div class="container large">
              <div class="hero-area-inner">
                <div class="section-content">
                  <div class="section-title-wrapper">
                    <div class="title-wrapper">
                      <h1 class="section-title large has_fade_anim">We're not just a digital agent - <span>we're your creative partner.</span></h1>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <!-- counter area start  -->
            <div class="counter-area">
              <div class="counter-area-inner">
                <div class="thumb">
                  <img src="assets/imgs/nestor-new/about-image-1.png" alt="image">
                </div>
                <div class="counter-wrapper-box">
                  <div class="counter-wrapper">
                    <div class="thumb-small overflow-hidden">
                      <img src="assets/imgs/nestor-new/about-image-2.png" data-speed="0.9" alt="image">
                    </div>
                    <div class="counter-box dark">
                      <h2 class="text has_fade_anim">Let’s make something great together</h2>
                      <h2 class="number wc-counter has_fade_anim"></h2>
                    </div>
                    <div class="counter-box dark">
                      <h2 class="text has_fade_anim">We started with a simple mission</h2>
                      <h2 class="number wc-counter has_fade_anim">To make digital growth accessible for businesses of all sizes. What began as small projects has grown into full-service solutions for SMEs, startups, and global brands.</h2>
                    </div>
                    <div class="thumb-small overflow-hidden">
                      <img src="assets/imgs/nestor-new/about-image-3.png" data-speed="0.9" alt="image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- counter area end  -->
            <div class="section-content">
              <div class="section-title-wrapper">
              </div>
              <div class="content-last">
                <div class="subtitle-wrapper has_fade_anim" data-fade-from="right">
                  <span class="section-subtitle has-right-line">01. about us</span>
                </div>
                <div class="text-wrapper">
                  <p class="text has_fade_anim" data-fade-from="left">From websites to marketing, we help brands grow online with creativity and strategy.</p>
                </div>
              </div>
            </div>
          </section>
          <!-- hero area end  -->

          <!-- service area start  -->
          <section class="service-area section-style section-item">
            <div class="container">
              <div class="service-top-wrapper">
                <div class="section-heading">
                  <h2 class="section-title has_text_move_anim">What We Do</h2>
                </div>
                <div class="content">
                  <p class="text has_fade_anim">Your website is your first impression — let’s make it unforgettable. We build sites that are fast, mobile-friendly, and designed to turn visitors into customers.</p>
                </div>
              </div>
              <div class="services-wrapper-box">
                <div class="services-grid">
                  <div class="service-item has_fade_anim" data-delay="0.15">
                    <div class="icon">
                      <img class="show-light" src="assets/imgs/icon/icon-s-1.webp" alt="service-icon">
                      <img class="show-dark" src="assets/imgs/icon/icon-s-1-light.webp" alt="service-icon">
                    </div>
                    <h2 class="title">Corporate & Commercial Videos</h2>
                    <p>Align ideas with your brand goals and campaign needs.</p>
                  </div>
                  <div class="service-item has_fade_anim" data-delay="0.30">
                    <div class="icon">
                      <img class="show-light" src="assets/imgs/icon/icon-s-2.webp" alt="service-icon">
                      <img class="show-dark" src="assets/imgs/icon/icon-s-2-light.webp" alt="service-icon">
                    </div>
                    <h2 class="title">Production</h2>
                    <p>Lights, camera, action! Professional gear and creative direction.</p>
                  </div>
                  <div class="service-item has_fade_anim" data-delay="0.45">
                    <div class="icon">
                      <img class="show-light" src="assets/imgs/icon/icon-s-3.webp" alt="service-icon">
                      <img class="show-dark" src="assets/imgs/icon/icon-s-3-light.webp" alt="service-icon">
                    </div>
                    <h2 class="title">Editing & Enhancement</h2>
                    <p>Sharp cuts, clean color grading, and optimized formats.</p>
                  </div>
                  <div class="service-item has_fade_anim" data-delay="0.60">
                    <div class="icon">
                      <img class="show-light" src="assets/imgs/icon/icon-s-4.webp" alt="service-icon">
                      <img class="show-dark" src="assets/imgs/icon/icon-s-4-light.webp" alt="service-icon">
                    </div>
                    <h2 class="title">Delivery & Optimization</h2>
                    <p>Final assets ready for social, ads, or campaigns.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- service area end  -->
          <!-- testimonial area start  -->
          <section class="testimonial-area section-style section-item">
            <img class="banner-top" src="assets/imgs/nestor-new/client-banner-1.png" >
            <div class="container">
              <div class="testimonial-area-inner">
                <div class="section-header">
                  
                  <div class="section-title-wrapper">
                    <div class="title-wrapper">
                      <h2 class="section-title has_fade_anim">What Client Say <br>About Us</h2>
                    </div>
                  </div>
                </div>
                <div class="testimonial-wrapper-box has_fade_anim">
                  <div class="testimonial-wrapper">
                    <div class="testimonial-slider">
                      <div class="swiper-wrapper">
                        <div class="testimonial-item">
                          <div class="content">
                            <div class="icon">
                              <img class="quote-icon show-light" src="assets/imgs/nestor-new/quote-green.png" alt="Quote Icon">
                            </div>
                            <div class="text-wrapper">
                              <p class="text">A good support and partner providing us with digital marketing and creative.
                              </p>
                            </div>
                            <div class="author">
                              <div class="meta">
                                <h3 class="name">Nick W</h3>
                                <span class="post">FUTURALAB</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial-wrapper">
                    <div class="testimonial-slider">
                      <div class="swiper-wrapper">
                        <div class="testimonial-item">
                          <div class="content">
                            <div class="icon">
                              <img class="quote-icon show-light" src="assets/imgs/nestor-new/quote-orange.png" alt="Quote Icon">
                            </div>
                            <div class="text-wrapper">
                              <p class="text">They helped us improve our UI/UX and create better user experiences.
                              </p>
                            </div>
                            <div class="author">
                              <div class="meta">
                                <h3 class="name">Brian C</h3>
                                <span class="post">FUTURA METRICS</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial-wrapper">
                    <div class="testimonial-slider">
                      <div class="swiper-wrapper">
                        <div class="testimonial-item">
                          <div class="content">
                            <div class="icon">
                              <img class="quote-icon show-light" src="assets/imgs/nestor-new/quote-purple.png" alt="Quote Icon">
                            </div>
                            <div class="text-wrapper">
                              <p class="text">Their digital marketing and creative solutions gave us a strong brand presence.
                              </p>
                            </div>
                            <div class="author">
                              <div class="meta">
                                <h3 class="name">Alex T</h3>
                                <span class="post">FUTURIC BLOCK</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- testimonial area end  -->
          <!-- blog area start  -->
          <section class="blog-area section-style section-item">
            <div class="container large">
              <div class="blog-area-inner section-spacing">
                <div class="section-header">
                  <div class="section-title-wrapper">
                    <div class="title-wrapper">
                      <h2 class="section-title has_fade_anim">This is How We Brand</h2>
                    </div>
                  </div>
                </div>
                <div class="blogs-wrapper-box">
                  <div class="blogs-wrapper">
                    <article class="blog has_fade_anim" data-fade-from="right" data-delay="0.15">
                      <div class="thumb">
                        <a>
                          <img src="assets/imgs/nestor-new/blog-image-1.png" alt="blog image">
                        </a>
                      </div>
                      <div class="content">
                        <h2 class="title"><a>Why Google Ads is Essential for Small Businesses</a></h2>
                        <div class="meta-list-space">
                          <a href="#"><span class="meta tag">Digital Marketing</span></a>
                          <span class="meta date">14 Jan 2025</span>
                        </div>
                      </div>
                    </article>
                    <article class="blog has_fade_anim" data-fade-from="right" data-delay="0.30">
                      <div class="thumb">
                        <a>
                          <img src="assets/imgs/nestor-new/blog-image-2.png"  alt="blog image">
                        </a>
                      </div>
                      <div class="content">
                        <h2 class="title"><a>SEO vs Paid Ads – Which Is Better for Your Business?</a></h2>
                        <div class="meta-list-space">
                          <a href="#"><span class="meta tag">Digital Marketing</span></a>
                          <span class="meta date">14 Jan 2025</span>
                        </div>
                      </div>
                    </article>
                    <article class="blog has_fade_anim" data-fade-from="left" data-delay="0.45">
                      <div class="thumb">
                        <a>
                          <img src="assets/imgs/nestor-new/blog-image-3.png" alt="blog image">
                        </a>
                      </div>
                      <div class="content">
                        <h2 class="title"><a >Storytelling in Video Marketing: How Brands Win Hearts</a></h2>
                        <div class="meta-list">
                          <a href="#"><span class="meta tag">Content Creation</span></a>
                          <span class="meta date">14 Jan 2025</span>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
              <div class="section-content section-spacing-bottom">
                <div class="row">
                  <div class="col-lg-6"></div>
                  <div class="col-lg-6 text-wrapper mb-10">
                    <p class="text-dark has_text_move_anim">Insights, experiments and lesson from behind the scenes at Nestor.</p>
                  </div>
                  <div class="col-lg-6"></div>
                  <div class="col-lg-6 btn-wrapper has_fade_anim" data-fade-from="left">
                    <div class="wc-btn-group">
                      <a class="wc-btn wc-btn-circle btn-gradient thick" >
                        <i class="fa-solid fa-arrow-right"></i>
                      </a>
                      <a class="wc-btn wc-btn-primary btn-gradient thick" >Read the playbook</a>
                      <a class="wc-btn wc-btn-circle btn-gradient thick">
                        <i class="fa-solid fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- blog area end  -->
        </main>
        <app-page-footer></app-page-footer>
        

      </div>
    </div>
  </div>
</body>