$xxxl: 'only screen and (min-width: 1920px)';
$xxl: 'only screen and (max-width: 1919px)';
$xl: 'only screen and (max-width: 1399px)';
$lg: 'only screen and (max-width: 1199px)';
$md: 'only screen and (max-width: 991px)';
$sm: 'only screen and (max-width: 767px)';
$xs: '(max-width: 575px)';

p {
  color: white
}
.section-title {
    &.white {
      color: white;
    }
    font-size: 60px;
    margin-top: -17px;

    @media #{$xxl} {
        font-size: 60px;
        margin-top: -17px;
    }

    @media #{$xl} {
        font-size: 55px;
        margin-top: -15px;
    }

    @media #{$lg} {
        font-size: 44px;
        margin-top: -12px;
    }

    @media #{$md} {
        font-size: 40px;
        margin-top: -11px;
    }

    @media #{$sm} {
        font-size: 35px;
        margin-top: 0;
    }

    @media #{$xs} {
        font-size: 30px;
        margin-top: 0;
    }

    &.large {
        font-size: 90px;

        @media #{$xxl} {
            font-size: 80px;
        }

        @media #{$xl} {
            font-size: 70px;
        }

        @media #{$lg} {
            font-size: 60px;
        }

        @media #{$md} {
            font-size: 50px;

        }

        @media #{$sm} {
            font-size: 40px;
        }

        @media #{$xs} {
            font-size: 36px;
        }
    }
}

/* hero area style  */
.hero-area {
    &-inner {
        padding-top: 187px;
        display: grid;
        gap: 40px 60px;
        grid-template-columns: 1fr 630px;
        justify-content: space-between;

        @media #{$xxl} {
            padding-top: 137px;
        }

        @media #{$xl} {
            grid-template-columns: 1fr 530px;
        }

        @media #{$lg} {
            grid-template-columns: 1fr 430px;
        }

        @media #{$md} {
            grid-template-columns: 1fr 330px;
        }

        @media #{$sm} {
            grid-template-columns: 1fr;
        }
    }

    .section-content {
      display: unset;
      gap: unset;
      grid-template-columns: unset;
      align-items: unset;
    }
    .section-title {
      margin-top: 40px;
      margin-bottom: 100px;
      &.large {
        font-size: 90px;

        @media #{$xxl} {
            font-size: 80px;
        }

        @media #{$xl} {
            font-size: 70px;
        }

        @media #{$lg} {
            font-size: 60px;
        }

        @media #{$md} {
            font-size: 50px;

        }

        @media #{$sm} {
            font-size: 40px;
        }

        @media #{$xs} {
            font-size: 36px;
        }
      }

    }

    .section-content {

        .text {
            max-width: 300px;

            @media #{$md} {
                text-indent: 0;
                max-width: 100%;
            }
        }

        .text-wrapper {
            // margin-inline-start: 140px;
            margin-top: 14px;

            @media #{$md} {
                margin-inline-start: 0;
                margin-top: 24px;
            }
        }

        .icon {
            margin-top: 54px;
            margin-inline-start: 140px;
            margin-bottom: 20px;
            @media #{$md} {
              margin-inline-start: 48%;
                // display: none;
            }
        }


    }

    .thumb {
        @media #{$md} {
            margin-bottom: 30px;
        }
    }
}

/* client slider area style  */
.clients-area {
    // transform: translate(0px, -60px);
    // padding-top: 130px;
    // padding-bottom: 130px;
    // background-color: var(--black);
    &-inner {
        padding: 55px 0;
        position: relative;
        padding-inline-start: 120px;
        margin-inline-end: calc((100vw - var(--container-max-widths)) / -2);

        @media #{$xl} {
            padding: 35px 0;
            padding-inline-start: 80px;
        }

        @media #{$md} {
            padding-inline-start: 0;
            margin-inline-end: 0;
        }

        .shape-1 {
            width: max-content;
            position: absolute;
            top: 0;
            inset-inline-end: calc(100%);
            height: 100%;
            overflow: hidden;

            @media #{$md} {
                display: none;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .clients-area-inner {
      border-top: unset;
      border-bottom: unset;
    }
}

.client-slider-active {
    .swiper-slide {
        width: auto;
    }
}

.client-slider {

    .swiper-wrapper {
        transition-timing-function: linear;
    }
}

.client-box {
    img {
        opacity: 1;
    }
}

/* services area style  */
.service-area {
  p {
    color: black;
    font-size: 20px;
  }
  
    .service-top-wrapper {
      padding-top: 57px;
        padding-bottom: 57px;
    }

    .service-top-wrapper {
        display: grid;
        grid-template-columns: 1fr 420px;
        align-items: center;

        @media #{$md} {
            grid-template-columns: 1fr;
        }

    }



    .services-wrapper-box {
        overflow: hidden;
        margin-bottom: 50px;
    }

    .services-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 -70px;
        gap: 50px 0;

        @media #{$xl} {
            margin: 0 -30px;

        }

        @media #{$lg} {
            grid-template-columns: repeat(3, 1fr);
        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }


        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    .service-item {
        padding: 0 70px;
        border-inline-start: 1px solid #ECE7E4;

        @media #{$xl} {
            padding: 0 30px;
        }

        .icon {
            padding-bottom: 48px;

            @media #{$lg} {
                padding-bottom: 25px;
            }
        }

        .title {
            padding-bottom: 25px;
            font-size: 32px;
            font-family: 'Rubik Semibold';
            @media #{$xl} {
                font-size: 32px;
            }
        }

        .service-features {
            li {
                font-size: 18px;
                color: var(--secondary);
                font-weight: 300;
                padding-bottom: 15px;
                list-style: disc;
                list-style-position: inside;
            }
        }
    }
}

/* service details area style  */
.service-details-area {
    background-color: var(--white);
    padding-top: 100px;
    margin-bottom: 100px;

    @media #{$xl} {
        padding-top: 80px;
        margin-bottom: 80px;
    }
    p {
      color: black;
    }
    .thumb-main {
        position: relative;

        img {
            width: 100%;
        }

        .hero-social {
            writing-mode: vertical-lr;
            display: flex;
            gap: 20px;
            align-items: center;
            position: absolute;
            left: -210px;
            bottom: -180px;

            @media #{$xxl} {
                left: 30px;
                bottom: 30px;
                background-color: var(--white);
                padding: 20px 10px;
            }

            @media #{$md} {
                writing-mode: initial;
                padding: 10px 20px;
            }

            @media #{$sm} {
                left: 10px;
                bottom: 10px;
            }

            .title {
                position: relative;
                padding-inline-end: 80px;
                display: inline-block;
                font-size: 14px;
                color: var(--primary);
                text-transform: uppercase;

                @media #{$xxl} {
                    color: var(--black);
                }

                &:before {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 60px;
                    background-color: var(--border);
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);

                    @media #{$md} {
                        width: 60px;
                        height: 1px;
                        inset-inline-end: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }

            .hero-social-links {
                display: flex;
                gap: 25px;


                a {
                    color: var(--primary);

                    @media #{$xxl} {
                        color: var(--black);
                    }

                    &:hover {
                        color: var(--secondary);
                    }

                    i {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .section-title-box {
        display: grid;
        gap: 20px 60px;
        grid-template-columns: 1fr 520px;
        align-items: center;
        margin-top: 46px;

        @media #{$lg} {
            grid-template-columns: 1fr 460px;
        }

        @media #{$md} {
            grid-template-columns: 1fr;
        }

        .feature-list {
            display: grid;
            gap: 10px 50px;
            grid-template-columns: auto auto;
            justify-content: space-between;

            @media #{$md} {
                justify-content: flex-start;
            }

            @media #{$xs} {
                grid-template-columns: auto;
            }

            li {
                color: var(--primary);

                &:not(:first-child) {
                    margin-top: 10px;
                }

                &:before {
                    content: "+";
                    margin-inline-end: 13px;
                }
            }
        }
    }

    .text-wrapper {
        margin-top: 27px;

        .text {
            &:not(:first-child) {
                margin-top: 23px;
            }
        }
    }

    .steps-wrapper-box {
        border-top: 1px solid var(--border);
        margin-top: 66px;

        @media #{$md} {
            border-top: 0;
        }
    }

    .working-steps {
        display: grid;
        gap: 40px 30px;
        grid-template-columns: repeat(4, 1fr);

        @media #{$md} {
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .working-step {
        padding-top: 50px;
        position: relative;

        @media #{$md} {
            padding-top: 20px;
            border-top: 1px solid var(--border);
        }

        &:before {
            position: absolute;
            content: "";
            width: 7px;
            height: 7px;
            background-color: var(--primary);
            border-radius: 50%;
            top: -4px;
            inset-inline-start: 0;
        }

        .title {
            font-family: 'Rubik Semibold';
            font-size: 20px;
            line-height: 1.29;
        }

        .title-number {
            color: black;
            font-family: 'Rubik Semibold';
            font-size: 32px;
            line-height: 1.29;
        }

        .text {
            margin-top: 15px;
        }
    }

    .thumb-gallery {
        margin-top: 53px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);

        @media #{$md} {
            gap: 10px;
        }

        @media #{$xs} {
            grid-template-columns: unset;
        }
    }
}


.process-area {
  background-image: linear-gradient(#6010F0, #AD07D4);
}

.meta-list-space {
  display: flex;
  gap: 5px;
  margin-top: 46px;
}

.blog .thumb a img {
    object-fit: cover;
    height: 300px;
}
