$xxxl: 'only screen and (min-width: 1920px)';
$xxl: 'only screen and (max-width: 1919px)';
$xl: 'only screen and (max-width: 1399px)';
$lg: 'only screen and (max-width: 1199px)';
$md: 'only screen and (max-width: 991px)';
$sm: 'only screen and (max-width: 767px)';
$xs: '(max-width: 575px)';

.map-container {
  height: 500px;
  width: 100%;
  border-radius: 10px;
}

/* contact area style  */
.contact-area {
    background-color: white;
    .section-title {
      font-size: 32px;
        max-width: 850px;
    }

    .section-header {
        display: grid;
        gap: 20px 60px;
        grid-template-columns: 1fr auto;

        @media #{$md} {
            grid-template-columns: 1fr;
        }


        .text {
            max-width: 300px;
        }




    }

    .contact-formwrap {
        display: grid;
        gap: 50px 30px;
        grid-template-columns: repeat(2, 1fr);

        @media #{$sm} {
            grid-template-columns: repeat(1, 1fr);
            gap: 10px 30px;
        }

        .messages {
            grid-column: span 2;

            @media #{$sm} {
                grid-column: auto;
            }
        }
    }

    .contact-formfield {
        input {
            width: 100%;
            height: 40px;
            border: none;
            border-bottom: 1px solid var(--border);
            outline: none;
            background-color: transparent;
            transition: all 0.5s;

            &:focus {
                border-color: var(--primary);
            }
        }
    }



    .submit-btn {
        margin-top: 60px;

        @media #{$sm} {
            margin-top: 20px;
        }
    }

    .section-content {
        display: grid;
        gap: 40px 60px;
        grid-template-columns: 1fr 740px;
        margin-top: 112px;

        @media #{$xxl} {
            margin-top: 72px;
        }

        @media #{$xl} {
            grid-template-columns: 1fr 640px;

        }

        @media #{$lg} {
            grid-template-columns: 1fr 600px;
            margin-top: 42px;
        }

        @media #{$md} {
            grid-template-columns: 1fr;
        }
    }


    .info-box {
        .text {
            font-size: 26px;
            line-height: 1.25;
            font-weight: 500;
            color: var(--primary);
            max-width: 360px;
        }

    }



    .contact-list {
        margin-top: 26px;

        li {
            color: black;
            font-size: 20px;
            line-height: 24px;

            &:not(:first-child) {
                margin-top: 15px;
            }

            a {
                // text-decoration: underline;
                // text-underline-offset: 2px;
            }
        }
    }

    input {
      color: black;
    }

    input::placeholder {
      color: var(--black-2)
    }
}