.cursor1 {
  display: none;
}

.cursor2 {
  display: none;
}

.footer-area {
  background-color: var(--black);
  padding: 0 45px;
}

.dark .footer-area {
  background-color: #1c1c1c;
}

@media only screen and (max-width: 991px) {
  .footer-area {
    padding: 0 15px;
  }
}

.footer-area-inner {
  display: grid;
  gap: 80px 50px;
  grid-template-columns: 365px 190px 190px 385px;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 130px;
  padding-bottom: 130px;
}

@media only screen and (max-width: 1919px) {
  .footer-area-inner {
    padding-top: 100px;
    padding-bottom: 100px;
    grid-template-columns: 265px 190px 190px 385px;
  }
}

@media only screen and (max-width: 1399px) {
  .footer-area-inner {
    padding-top: 80px;
    padding-bottom: 80px;
    grid-template-columns: 225px 160px 160px 305px;
  }
}

@media only screen and (max-width: 1199px) {
  .footer-area-inner {
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 50px 60px;
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 767px) {
  .footer-area-inner {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 575px) {
  .footer-area-inner {
    grid-template-columns: auto;
  }
}

.footer-area .footer-area-inner>* {
  min-width: 130px;
}

@media only screen and (max-width: 1199px) {
  .footer-area .footer-area-inner>*.newsletter {
    grid-column: span 2;
  }
}

@media only screen and (max-width: 767px) {
  .footer-area .footer-area-inner>*.newsletter {
    order: 1;
  }
}

@media (max-width: 575px) {
  .footer-area .footer-area-inner>*.newsletter {
    grid-column: auto;
  }
}

.footer-area .footer-logo img {
  max-height: 42px;
}

@media only screen and (max-width: 1199px) {
  .footer-area .footer-logo img {
    max-height: 34px;
  }
}

.footer-area .info-text {
  max-width: 270px;
  margin-top: 26px;
  color: var(--white-2);
}

.footer-area .footer-widget-wrapper .title {
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
  line-height: 0.73;
}

@media only screen and (max-width: 1399px) {
  .footer-area .footer-widget-wrapper .title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1199px) {
  .footer-area .footer-widget-wrapper .title {
    font-size: 22px;
  }
}

.footer-area .footer-nav-list {
  margin-top: 27px;
}

.footer-area .footer-nav-list li {
  font-size: 18px;
  line-height: 30px;
  color: var(--white-2);
}

.footer-area .footer-nav-list li a:hover {
  color: var(--white);
}

.footer-area .footer-nav-list li .location {
  margin-bottom: 22px;
  display: inline-block;
}

.footer-area .social-links {
  display: flex;
  gap: 20px;
  margin-top: 56px;
}

@media only screen and (max-width: 1199px) {
  .footer-area .social-links {
    margin-top: 36px;
  }
}

.footer-area .social-links li {
  line-height: 1;
}

.footer-area .social-links li a {
  color: var(--white-2);
}

.footer-area .social-links li a:hover {
  color: var(--white);
}

.footer-area .newsletter-text {
  margin-top: 29px;
}

.footer-area .newsletter-text .text {
  color: var(--white-2);
}

.subscribe-form {
  margin-top: 38px;
}

.subscribe-form .input-field {
  background-color: #202020;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 25px 25px;
}

@media only screen and (max-width: 1399px) {
  .subscribe-form .input-field {
    padding: 18px 25px;
  }
}

.subscribe-form .input-field input {
  border: 0;
  background-color: #202020;
  color: var(--white);
  width: 100%;
}

.subscribe-form .input-field input::-moz-placeholder {
  color: var(--white-2);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.subscribe-form .input-field input::placeholder {
  color: var(--white-2);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.subscribe-form .input-field input:focus {
  outline: 0;
}

.subscribe-form .input-field .subscribe-btn img,
.subscribe-form .input-field .subscribe-btn i {
  color: var(--theme);
}

.dir-rtl .subscribe-form .input-field .subscribe-btn img,
.dir-rtl .subscribe-form .input-field .subscribe-btn i {
  transform: rotateY(180deg);
}

.subscribe-form .input-field .icon {
  color: var(--white-2);
}

.subscribe-form .policy-field {
  margin-top: 20px;
}

.subscribe-form .policy-field label {
  font-size: 14px;
  margin-inline-start: 6px;
}

.subscribe-form .policy-field label span {
  color: var(--primary);
  font-weight: 500;
}

.copyright-area-inner {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  padding: 32px 0;
  position: relative;
  display: block;
  gap: 0;
  justify-content: unset;
  align-items: unset;
}

@media only screen and (max-width: 1399px) {
  .copyright-area-inner {
    padding: 22px 0;
  }
}

.copyright-area .copyright-text .text {
  text-align: center;
  font-weight: 500;
  color: var(--white-2);
}

.copyright-area .copyright-text .text span {
  color: var(--white);
}

.container {
  &.large {
      @media (min-width:1900px) {
          max-width: 1850px;
      }
  }
}

@media only screen and (max-width: 1199px) {
  .main-menu {
    display: none;
  }
}

.main-menu-locale > ul {
  display: flex;
}
.main-menu-locale > ul > li:hover > a {
  color: var(--primary);
}
.main-menu-locale > ul > li:hover > ul {
  opacity: 1;
  pointer-events: all;
  inset-inline-start: 0;
}
.main-menu-locale > ul > li:hover > ul.dp-menu li:hover > ul {
  opacity: 1;
  pointer-events: all;
  inset-inline-start: 100%;
}
.main-menu-locale li {
  position: relative;
}
.main-menu-locale li a {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--primary);
  padding: 37px 5px;
  text-transform: uppercase;
  cursor: pointer;
}
.main-menu-locale ul.dp-menu {
  background-color: #232529;
  padding: 18px 0px;
  width: 250px;
  position: absolute;
  inset-inline-start: 10px;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition: all 0.5s;
}
.main-menu-locale ul.dp-menu ul {
  background: var(--black);
  padding: 18px 0px;
  width: 300px;
  position: absolute;
  inset-inline-start: calc(100% + 10px);
  top: 0;
  opacity: 0;
  z-index: 10;
  transition: all 0.5s;
}
.main-menu-locale ul.dp-menu li {
  position: relative;
  padding: 0 25px;
}
.main-menu-locale ul.dp-menu li:hover > a {
  color: var(--white);
  background-color: transparent;
}
.main-menu-locale ul.dp-menu li:hover > ul {
  opacity: 1;
  transform: none !important;
  pointer-events: all;
}
.main-menu-locale ul.dp-menu li a {
  font-size: 16px;
  font-weight: 500;
  color: #999999;
  padding: 10px 0;
  background-color: transparent;
  border-radius: 8px;
  text-transform: capitalize;
}
.main-menu-locale ul.dp-menu li a:hover {
  letter-spacing: 0.5px;
}
.main-menu-locale ul.dp-menu li a:after {
  transform: rotate(-90deg);
  margin-left: auto;
}
.main-menu-locale li.menu-item-has-children > a:after {
  content: "\f107";
  font-family: var(--font_awesome);
  margin-inline-start: 5px;
  font-weight: 600;
  font-size: 14px;
}