<main>

  <!-- hero area start  -->
  <section class="hero-area">
    <div class="container">
      <div class="hero-area-inner">
        <div class="section-content">
          <div class="section-title-wrapper">
            <div class="title-wrapper">
              <h1 class="section-title large has_text_move_anim">Creative Solutions for Your Brand</h1>
            </div>
          </div>
          <div class="text-wrapper">
            <p class="text has_fade_anim">From branding and visual identity to digital and print design, we ensure that every element we create is purposeful, innovative, and impactful.</p>
          </div>
          <div class="icon has_fade_anim" data-on-scroll="0">
            <img class="show-light" src="assets/imgs/shape/img-s-82.webp" alt="image">
          </div>
        </div>
        <div class="thumb">
          <img src="assets/imgs/nestor/services-title.png" class="has_fade_anim" data-fade-offset="0"
            data-delay="0.45" alt="image" style="object-fit: cover; width: 100%;">
        </div>
      </div>
    </div>
  </section>
  <!-- hero area end  -->

  <!-- clients area start  -->
  <div class="container-hd has_fade_anim">
    <div class="clients-area">
      <div class="container">
        <div class="clients-area-inner">
          <div class="shape-1">
            <img src="assets/imgs/shape/img-s-83.webp" alt="shape">
          </div>
          <div class="client-slider">
            <div class="swiper client-slider-active">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="client-box">
                    <img src="assets/imgs/nestor/services-client-4.png" alt="client image">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="client-box">
                    <img src="assets/imgs/nestor/services-client-5.png" alt="client image">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="client-box">
                    <img src="assets/imgs/nestor/services-client-6.png" alt="client image">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="client-box">
                    <img src="assets/imgs/nestor/services-client-7.png" alt="client image">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="client-box">
                    <img src="assets/imgs/nestor/services-client-8.png" alt="client image">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="client-box">
                    <img src="assets/imgs/nestor/services-client-9.png" alt="client image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- clients area end  -->

  <!-- service area start  -->
  <section class="service-area section-spacing">
    <div class="container">
      <div class="service-top-wrapper">
        <div class="section-heading">
          <h2 class="section-title has_text_move_anim">Our exclusive <br>
            services</h2>
        </div>
        <div class="content">
          <p class="text has_fade_anim">Don't just offer services—we create value that drives growth, builds trust, and sets you apart in your industry.</p>
        </div>
      </div>
      <div class="services-wrapper-box">
        <div class="services-grid">
          <div class="service-item has_fade_anim" data-delay="0.15">
            <div class="icon">
              <img class="show-light" src="assets/imgs/nestor/services-icon-1.png" alt="service-icon">
            </div>
            <h2 class="title">Branding <br> Design</h2>
            <ul class="service-features">
              <li>Logo & Identity</li>
              <li>Brand Strategy</li>
              <li>Website Design</li>
              <li>Corporate Branding</li>
              <li>Packaging Design</li>
              <li>Rebranding</li>
              <li>Brand Story</li>
            </ul>
          </div>
          <div class="service-item has_fade_anim" data-delay="0.30">
            <div class="icon">
              <img class="show-light" src="assets/imgs/nestor/services-icon-2.png" alt="service-icon">
            </div>
            <h2 class="title">Social Media <br> Marketing</h2>
            <ul class="service-features">
              <li>Content Strategy</li>
              <li>Creative Content</li>
              <li>Community Growth</li>
              <li>Influencer Collabs</li>
              <li>Platform Management</li>
              <li>Performance Reports</li>
              <li>Trend Adaptation</li>
            </ul>
          </div>
          <div class="service-item has_fade_anim" data-delay="0.45">
            <div class="icon">
              <img class="show-light" src="assets/imgs/nestor/services-icon-3.png" alt="service-icon">
            </div>
            <h2 class="title">Paid <br> Marketing</h2>
            <ul class="service-features">
              <li>Google & SEM Ads</li>
              <li>Social Media Ads</li>
              <li>Retargeting Ads</li>
              <li>Landing Page</li>
              <li>A/B Testing</li>
              <li>Budget Management</li>
              <li>Data Insights</li>
            </ul>
          </div>
          <div class="service-item has_fade_anim" data-delay="0.60">
            <div class="icon">
              <img class="show-light" src="assets/imgs/nestor/services-icon-4.png" alt="service-icon">
            </div>
            <h2 class="title">Video <br> Production</h2>
            <ul class="service-features">
              <li>Storyboarding</li>
              <li>Brand Videos</li>
              <li>Social Media Clips</li>
              <li>Product Demos</li>
              <li>Animation Graphics</li>
              <li>Motion Graphics</li>
              <li>Editing</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- service area end  -->

  <!-- about area start  -->
  <section class="about-area container-hd">
    <div class="about-area-inner">
      <div class="thumb">
        <img src="assets/imgs/nestor/services-agency.png" alt="gallery image">
      </div>
      <div class="section-content">
        <div class="bg">
          <!-- <img src="assets/imgs/gallery/img-s-31.webp" alt="image"> -->
        </div>
        <div class="section-title-wrapper">
          <div class="title-wrapper">
            <h2 class="section-title has_text_move_anim">We’re simple
              but pro-level
              agency</h2>
          </div>
        </div>
        <div class="text-wrapper">
          <p class="text has_fade_anim">Simplicity meets expertise <span>for powerful,</span> effective solutions</p>
        </div>
        <div class="btn-wrapper has_fade_anim" data-ease="bounce">
          <a href="contact.html" class="wc-btn wc-btn-primary btn-text-flip"> <span data-text="Learn More">Contact us</span></a>
        </div>
      </div>
    </div>
  </section>
  <!-- about area end  -->

  <!-- client area start  -->
  <div class="client-area has_fade_anim">
    <div class="container">
      <div class="client-area-inner section-spacing">
        <div class="client-area-text">
          <h2 class="text">We worked with largest
            global brands</h2>
        </div>
        <div class="clients-wrapper-box">
          <div class="clients-wrapper">
            <div class="client-box">
              <img class="show-light" src="assets/imgs/nestor/services-client-5.png" alt="client image">
            </div>
            <div class="client-box">
              <img class="show-light" src="assets/imgs/nestor/services-client-10.png" alt="client image">
            </div>
            <div class="client-box">
              <img class="show-light" src="assets/imgs/nestor/services-client-11.png" alt="client image">
            </div>
            <div class="client-box">
              <img class="show-light" src="assets/imgs/nestor/services-client-12.png" alt="client image">
            </div>
            <div class="client-box">
              <img class="show-light" src="assets/imgs/nestor/services-client-13.png" alt="client image">
            </div>
            <div class="client-box">
              <img class="show-light" src="assets/imgs/nestor/services-client-14.png" alt="client image">
            </div>
            <div class="client-box">
              <img class="show-light" src="assets/imgs/nestor/services-client-15.png" alt="client image">
            </div>
            <div class="client-box">
              <img class="show-light" src="assets/imgs/nestor/services-client-16.png" alt="client image">
            </div>
            <div class="client-box">
              <img class="show-light" src="assets/imgs/nestor/services-client-17.png" alt="client image">
            </div>
            <div class="client-box">
              <img class="show-light" src="assets/imgs/nestor/services-client-18.png" alt="client image">
            </div>
            <div class="client-box">
              <img class="show-light" src="assets/imgs/nestor/services-client-19.png" alt="client image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- client area end  -->

</main>