<body class="font-heading-instumentsans-semibold">

  <app-page-header></app-page-header>

  <div class="has-smooth" id="has_smooth"></div>
  <div id="smooth-wrapper">
    <div id="smooth-content">
      <div class="body-wrapper body-branding-agency">

        <!-- overlay switcher close  -->
        <div class="overlay-switcher-close"></div>

        <main>

          <app-page-top-short title="Latest Insights & Ideas"></app-page-top-short>
          <!-- blog area start  -->
          <section class="blog-area section-style section-item">
            <div class="container large">
              <div class="blog-area-inner section-spacing">
                <div class="section-content">
                  <div class="section-title-wrapper">
                    <div class="title-wrapper">
                      <h2 class="section-title has_fade_anim">Our Thoughts & Stories</h2>
                    </div>
                  </div>
                  <div class="text-wrapper">
                    <p class="text has_fade_anim">Explore expert tips, industry trends, and fresh ideas to help your business grow in the digital world.</p>
                  </div>
                </div>
                <div class="blogs-wrapper-box">
                  <div class="blogs-wrapper has_fade_anim">
                    <a href="#">
                      <div class="blog-box">
                        <div class="thumb d-flex flex-column justify-content-center">
                          <img src="assets/imgs/nestor-new/blog-image-1.png" alt="image">
                        </div>
                        <div class="content">
                          <span class="number">01</span>
                          <h3 class="title">Why Google Ads is Essential for Small Businesses</h3>
                          <span class="icon"><i class="fa-solid fa-arrow-right"></i></span>
                        </div>
                      </div>
                    </a>
                    <a href="#">
                      <div class="blog-box">
                        <div class="thumb d-flex flex-column justify-content-center">
                          <img src="assets/imgs/nestor-new/blog-image-2.png" alt="image">
                        </div>
                        <div class="content">
                          <span class="number">02</span>
                          <h3 class="title">SEO vs Paid Ads – Which Is Better for Your Business?</h3>
                          <span class="icon"><i class="fa-solid fa-arrow-right"></i></span>
                        </div>
                      </div>
                    </a>
                    <a href="#">
                      <div class="blog-box">
                        <div class="thumb d-flex flex-column justify-content-center">
                          <img src="assets/imgs/nestor-new/blog-image-3.png" alt="image">
                        </div>
                        <div class="content">
                          <span class="number">03</span>
                          <h3 class="title">Storytelling in Video Marketing: How Brands Win Hearts</h3>
                          <span class="icon"><i class="fa-solid fa-arrow-right"></i></span>
                        </div>
                      </div>
                    </a>
                    <!-- <a href="blog-details.html">
                      <div class="blog-box">
                        <div class="thumb">
                          <img src="assets/imgs/blog/img-s-23.webp" alt="image">
                        </div>
                        <div class="content">
                          <span class="number">04</span>
                          <h3 class="title">Business <br>
                            resilience tips</h3>
                          <span class="icon"><i class="fa-solid fa-arrow-right"></i></span>
                        </div>
                      </div>
                    </a>
                    <a href="blog-details.html">
                      <div class="blog-box">
                        <div class="thumb">
                          <img src="assets/imgs/blog/img-s-24.webp" alt="image">
                        </div>
                        <div class="content">
                          <span class="number">05</span>
                          <h3 class="title">Entrepreneurial <br>
                            journeys</h3>
                          <span class="icon"><i class="fa-solid fa-arrow-right"></i></span>
                        </div>
                      </div>
                    </a>
                    <a href="blog-details.html">
                      <div class="blog-box">
                        <div class="thumb">
                          <img src="assets/imgs/blog/img-s-25.webp" alt="image">
                        </div>
                        <div class="content">
                          <span class="number">06</span>
                          <h3 class="title">Business growth <br>
                            strategies</h3>
                          <span class="icon"><i class="fa-solid fa-arrow-right"></i></span>
                        </div>
                      </div>
                    </a> -->
                  </div>
                  <!-- <div class="pagination-box has_fade_anim">
                    <ul class="pagination">
                      <li>
                        <a href="#">01</a>
                      </li>
                      <li>
                        <a href="#">02</a>
                      </li>
                      <li>
                        <a href="#">03</a>
                      </li>
                      <li>
                        <a href="#">04</a>
                      </li>
                    </ul>
                  </div> -->
                </div>
              </div>
            </div>
          </section>
          <!-- blog area end  -->
        </main>
        <app-page-footer></app-page-footer>
        

      </div>
    </div>
  </div>
</body>