$xxxl: 'only screen and (min-width: 1920px)';
$xxl: 'only screen and (max-width: 1919px)';
$xl: 'only screen and (max-width: 1399px)';
$lg: 'only screen and (max-width: 1199px)';
$md: 'only screen and (max-width: 991px)';
$sm: 'only screen and (max-width: 767px)';
$xs: '(max-width: 575px)';

p {
  color: black;
}
/* blog area style  */
.blog-area {
    &-inner {
        display: grid;
        gap: 30px 60px;
        grid-template-columns: 1fr 850px;

        @media #{$xl} {
            grid-template-columns: 1fr 750px;

        }

        @media #{$lg} {
            grid-template-columns: 1fr 620px;
        }

        @media #{$md} {
            grid-template-columns: 1fr;
        }
    }
    .section-title-wrapper {
      .title-wrapper {
        justify-content: start;
      }
    }
    .section-title {
        max-width: 340px;   
    }

    .section-content {
        .text {
            max-width: 300px;
        }

        .text-wrapper {
            margin-top: 22px;
        }
    }



    .blogs-wrapper {
        display: grid;
        gap: 45px 50px;
        grid-template-columns: repeat(2, 1fr);

        @media #{$lg} {
            gap: 40px 30px;
        }

        @media #{$md} {
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .blog-box {
        &:hover {
            .icon {
                transform: none;
                opacity: 1;
            }

            .content {
                border-color: var(--primary);
            }
        }

        .thumb {
            height: 500px;
            background-image: linear-gradient(#6010F0, #AD07D4);
            img {
                width: 100%;
            }
        }

        .content {
            padding-top: 25px;
            padding-bottom: 23px;
            border-bottom: 1px solid var(--border);
            display: grid;
            gap: 10px;
            grid-template-columns: 68px 1fr auto;
            transition: all 0.5s;

            @media #{$lg} {
                grid-template-columns: 38px 1fr auto;
                padding-top: 20px;
                padding-bottom: 13px;
            }

        }

        .number {
            font-family: 'Rubik Semibold';
            font-size: 20px;
            line-height: 1;
        }

        .title {
            font-family: 'Rubik Semibold';
            font-size: 32px;
            line-height: 1.25;

            @media #{$lg} {
                font-size: 20px;
            }
        }

        .icon {
            transform: translate(-10px, 10px);
            opacity: 0;
            transition: all 0.5s;

            @media #{$sm} {
                display: none;
            }

            i {
                font-size: 20px;
                color: var(--primary);
                transform: rotate(-45deg);
            }
        }
    }

    .pagination-box {
        margin-top: 50px;
    }

    .pagination {
        display: flex;
        gap: 10px;

        a {
            width: 60px;
            height: 60px;
            border: 1px solid var(--border);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 18px;
            color: var(--primary);

            &:hover {
                background-color: var(--primary);
                border-color: transparent;
                color: var(--white);
            }
        }

    }
}