/* You can add global styles to this file, and also import other style files */
// .wc-btn-primary {
//     color: white;
// }

// .wc-btn-primary:hover {
//     color: white;
// }

// .wc-btn-circle {
//     color: black;
// }

// .service-box .wc-btn-primary {
//     color: black;
// }

// .service-box .wc-btn-primary:hover {
//     color: white;
// }

// .service-box:hover .wc-btn-primary {
//     color: white;
// }

// .service-box .wc-btn-circle {
//     color: black;
// }

// .service-box .wc-btn-circle:hover {
//     color: white;
// }

// .service-box:hover .wc-btn-circle {
//     color: white;
// }

// .blog .wc-btn-primary {
//     color: black;
// }

// .blog .wc-btn-primary:hover {
//     color: white;
// }

// .blog:hover .wc-btn-primary {
//     color: white;
// }

// .blog .wc-btn-circle {
//     color: black;
// }

// .blog .wc-btn-circle:hover {
//     color: white;
// }

// .blog:hover .wc-btn-circle {
//     color: white;
// }