<body class="font-heading-instumentsans-semibold">

  <!-- Preloader -->
  <!-- <div id="preloader">
    <div id="container" class="container-preloader">
      <div class="animation-preloader">
        <div class="spinner"></div>
        <div class="txt-loading">
          <span data-text="A" class="characters">A</span>
          <span data-text="R" class="characters">R</span>
          <span data-text="O" class="characters">O</span>
          <span data-text="L" class="characters">L</span>
          <span data-text="A" class="characters">A</span>
          <span data-text="X" class="characters">X</span>
        </div>
      </div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
  </div> -->

  <!-- Cursor Animation -->
  <div class="cursor1"></div>
  <div class="cursor2"></div>

  <!-- Sroll to top -->
  <!-- <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
  </div> -->

  <!-- offcanvas start  -->
  <div class="offcanvas-3__area">
    <div class="offcanvas-3__inner">
      <div class="offcanvas-3__meta-wrapper">
        <div class="">
          <button id="close_offcanvas" class="close-button close-offcanvas" onclick="hideCanvas3()">
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="">
          <div class="offcanvas-3__meta mb-145 d-none d-md-block">
            <!-- <ul>
              <li><a href="tel:+2-352698102" class="unnerline"><u>+2-352 698 102</u></a></li>
              <li><a href="mailto:contact&#64;me.com">contact&#64;me.com</a></li>
              <li><a href="">27 Division St, <br>
                  New York, NY 10002, USA</a></li>
            </ul> -->
          </div>
          <!-- <div class="offcanvas-3__social d-none d-md-block">
            <p class="title">Follow Us</p>
            <div class="offcanvas-3__social-links">
              <a href=""><i class="fa-brands fa-facebook-f"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-dribbble"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
          </div> -->
        </div>
      </div>
      <div class="offcanvas-3__menu-wrapper">
        <nav class="nav-menu offcanvas-3__menu">
          <li>
            <a class="menu-has-children">Company</a>
            <ul class="dp-menu mt-10">
              <li><a href="/about">About</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/faq">Faq</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </li>
          <li>
            <a class="menu-has-children">Solutions</a>
            <ul class="dp-menu mt-10">
              <li><a href="/service-web">Web & App Development</a></li>
              <li><a href="/service-marketing">Digital Marketing</a></li>
              <li><a href="/service-content">Creative Content</a></li>
              <!-- <li><a href="/case-studies">Case Studies</a></li> -->
            </ul>
          </li>
        </nav>
      </div>
    </div>
  </div>
  <!-- offcanvas end  -->


  <!-- search modal start -->
  <div class="modal fade" id="search-template" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="search-template" aria-hidden="true">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <form action="#" class="form-search">
            <input type="text" placeholder="Search">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- search modal end -->

  <!-- Header area start -->
  <header class="header-area">
    <div class="container large">
      <div class="header-area__inner">
        <div class="header__logo">
          <a href="#">
            <img src="assets/imgs/nestor-new/nestor.png" alt="Site Logo">
          </a>
        </div>
        <div class="header__nav pos-center">
          <nav class="main-menu">
            <ul>
              <li class="menu-item-has-children">
                <a href="#">Company</a>
                <ul class="dp-menu first">
                  <li class="container large d-flex ">
                     <div><a href="/service-content">
  <img src="assets/imgs/gallery/page-header1.png" alt="">
</a></div>
                    <div style="width: 50px;"></div>
                    <div>
                      <li><a href="/about">About</a></li>
                      <li><a href="/blog">Blog</a></li>
                      <li><a href="/faq">Faq</a></li>
                      <li><a href="/contact">Contact</a></li>
                    </div>
                  </li>
                  
                  
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="#">Solutions</a>
                <ul class="dp-menu">
                  <li class="container large d-flex ">
                    <a href="/service-web">
  <img src="assets/imgs/gallery/page-header2.png" alt="">
</a>
                    <div style="width: 50px;"></div>
                    <div>
                      <li><a href="/service-web">Web & App Development</a></li>
                      <li><a href="/service-marketing">Digital Marketing</a></li>
                      <li><a href="/service-content">Creative Content</a></li>
                      <!-- <li><a href="/case-studies">Case Studies</a></li> -->
                    </div>
                  </li>
                  
                  
                </ul>
              </li>
              <!-- <li class="menu-item-has-children">
                <a href="#">Technology</a>
                <ul class="dp-menu">
                  <li><a href="#">Technology 1</a></li>
                  <li><a href="#">Technology 2</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="#">Solutions</a>
                <ul class="dp-menu">
                  <li><a href="#">Solution 1</a></li>
                  <li><a href="#">Solution 2</a></li>
                </ul>
              </li> -->
            </ul>
          </nav>
        </div>
        <div class="header__button">
          <div class="wc-btn-group">
            <a class="wc-btn wc-btn-circle" href="/contact">
              <i class="fa-solid fa-arrow-right"></i>
            </a>
            <a class="wc-btn wc-btn-primary" href="/contact">Get started</a>
            <a class="wc-btn wc-btn-circle" href="/contact">
              <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="header__navicon d-xl-none">
          <button onclick="showCanvas3()" class="open-offcanvas">
            <i class="fa-solid fa-bars text-white"></i></button>
        </div>
      </div>
    </div>
  </header>
  <!-- Header area end -->

  <div class="has-smooth" id="has_smooth"></div>
  <div id="smooth-wrapper">
    <div id="smooth-content">
      <div class="body-wrapper body-branding-agency">

        <!-- overlay switcher close  -->
        <div class="overlay-switcher-close"></div>

        <main>

          <!-- hero area start  -->
          <section class="hero-area section-item">
            <div class="area-bg">
            </div>
            <div class="container large">
              <div class="hero-area-inner">
                <div class="section-title-wrapper">
                  <div class="title-wrapper d-flex justify-content-end">
                    <h1 class="section-title text-end">
                      <h2>CRAFTING&nbsp;</h2>
                      <p>TOMORROW'S&nbsp;&nbsp;</p>
                      <div class="d-flex"><div class="origami">
                        <img src="assets/imgs/nestor-new/origami.png" alt="Origami">
                      </div>BRANDS,</div>
                      <span>TODAY!</span>
                    </h1>
                  </div>
                </div>
              </div>
              <div class="about-area">
                <div class="about-area-inner">
                  <div class="section-content">
                    <div class="section-title-wrapper">
                      <div class="subtitle-wrapper">
                        <span class="section-subtitle">NESTOR PROFESSIONAL SERVICES</span>
                      </div>
                    </div>
                    <div class="content-last">
                      <div class="subtitle-wrapper">
                        <span class="section-subtitle">At Nestor, we blend strategy, creativity, and tech to help businesses grow online. 
                          Whether you need SEO, social media marketing, or a professional website, we’ve got you covered.</span>
                      </div>
                      <!-- <div class="text-wrapper">
                        <p class="text">
                          At Nestor, we blend strategy, creativity, and tech to help businesses grow online. 
                          Whether you need SEO, social media marketing, or a professional website, we’ve got you covered.</p>
                      </div> -->
                      <div class="btn-wrapper has_fade_anim" data-fade-from="left">
                        <div class="wc-btn-group">
                          <a class="wc-btn wc-btn-circle thick">
                            <i class="fa-solid fa-arrow-right"></i>
                          </a>
                          <a class="wc-btn wc-btn-primary thick" href="/contact">HOW WE PARTNER WITH YOU</a>
                          <a class="wc-btn wc-btn-circle thick">
                            <i class="fa-solid fa-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- hero area end  -->

          <!-- work area start  -->
          <section class="work-area section-style section-item">
            <div class="container large">
              <div class="work-area-inner section-spacing">
                <div class="section-header">
                  <div class="section-title-wrapper">
                    <div class="title-wrapper">
                      <h2 class="section-title">What We've Crafted</h2>
                    </div>
                  </div>
                  <div class="content-last">
                    
                  </div>
                </div>
                <div class="works-wrapper-box">
                  <div class="works-wrapper">
                    <div class="work-box">
                      <div class="thumb">
                        <a href="work-details.html"><img src="assets/imgs/nestor-new/crafted-1.png" height="650" width="845" alt="work image"></a>
                      </div>
                      <div class="content">
                        <h3 class="title">Turning Luggage into Stories</h3>
                        <div class="tags">
                          <div class="tag">MICROSITE DESIGN</div>
                          <div class="tag">CONTENT WRITING</div>
                          <div class="tag">CAMPAIGN STRATEGY</div>
                        </div>
                      </div>
                    </div>
                    <div class="work-box">
                      <div class="thumb">
                        <a href="work-details.html"><img src="assets/imgs/nestor-new/crafted-2.png" height="650" width="845" alt="work image"></a>
                      </div>
                      <div class="content">
                        <h3 class="title">A Smart Tool for Smarter Marketing</h3>
                        <div class="tags">
                          <div class="tag">UI/UX DESIGN</div>
                          <div class="tag">WEBSITE DEVELOPMENT</div>
                          <div class="tag">DIGITAL MARKETING</div>
                          <div class="tag">SOCIAL MEDIA MANAGEMENT</div>
                          <div class="tag">PAID ADS</div>
                          <div class="tag">SEO</div>
                        </div>
                      </div>
                    </div>
                    <div class="work-box">
                      <div class="thumb">
                        <a href="work-details.html"><img src="assets/imgs/nestor-new/crafted-3.png" height="650" width="845" alt="work image"></a>
                      </div>
                      <div class="content">
                        <h3 class="title">A Parenting Channel That Connects</h3>
                        <div class="tags">
                          <div class="tag">PRODUCTION</div>
                          <div class="tag">CONTENT CREATION</div>
                          <div class="tag">DIGITAL MARKETING</div>
                          <div class="tag">BRANDING</div>
                        </div>
                      </div>
                    </div>
                    <div class="work-box">
                      <div class="thumb">
                        <a href="work-details.html"><img src="assets/imgs/nestor-new/crafted-4.png" height="650" width="845" alt="work image"></a>
                      </div>
                      <div class="content">
                        <h3 class="title">Precision in Execution</h3>
                        <div class="tags">
                          <div class="tag">WEBSITE DEVELOPMENT</div>
                          <div class="tag">BRANDING ALIGNMENT</div>
                          <div class="tag">TECHNICAL IMPLEMENTATION</div>
                        </div>
                      </div>
                    </div>
                    <div class="work-box">
                      <div class="thumb">
                        <a href="work-details.html"><img src="assets/imgs/nestor-new/crafted-5.png" height="650" width="845" alt="work image"></a>
                      </div>
                      <div class="content">
                        <h3 class="title">Premium Musang King Durian</h3>
                        <div class="tags">
                          <div class="tag">BRANDING</div>
                          <div class="tag">LAUNCH EVENT</div>
                          <div class="tag">MARKETING STRATEGY</div>
                          <div class="tag">SEO</div>
                          <div class="tag">SOCIAL MEDIA MANAGEMENT</div>
                          <div class="tag">INFLUENCER MARKETING</div>
                          <div class="tag">PAID ADS</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section-content section-spacing-top">
                  <div class=""></div>
                  <div class="content-last">
                    <div class="text-wrapper">
                      <p class="text-dark has_text_move_anim">We build brands with clear goals, sharp strategy, and bold execution.</p>
                    </div>
                    <div class="btn-wrapper has_fade_anim" data-fade-from="left">
                      <div class="wc-btn-group">
                        <!-- <a class="wc-btn wc-btn-circle thick" href="#">
                          <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <a class="wc-btn wc-btn-primary thick" href="#">View all works</a>
                        <a class="wc-btn wc-btn-circle thick" href="#"> -->
                          <a class="wc-btn wc-btn-circle thick" >
                          <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <a class="wc-btn wc-btn-primary thick" >View all works</a>
                        <a class="wc-btn wc-btn-circle thick" >
                          <i class="fa-solid fa-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>
          <!-- work area end  -->

          <!-- fun-fact area start  -->
          <section class="fun-fact-area section-style section-item">
            <div class="fun-fact-background">
              <div class="container large">
                <div class="fun-fact-area-inner section-spacing">
                  <div class="fun-fact-area-height"></div>
                </div>
              </div>
            </div>
            
          </section>
          <!-- fun-fact area end  -->

          <!-- service area start  -->
          <section class="service-area section-style section-item">
            <div class="container large">
              <div class="service-area-inner section-spacing">
                <div class="section-header">
                  <div class="section-title-wrapper">
                    <div class="title-wrapper d-flex flex-wrap">
                      <div class="text-dark title-min-width">TOOLS TO BUILD YOUR TOMORROW</div>
                      <h2 class="section-title">We Mix Data, Design & Vibes</h2>
                    </div>
                    <div class="title-wrapper d-flex flex-wrap">
                      <div class="text-dark title-min-width">&nbsp;</div>
                      <p class="text-dark">Your brand deserves campaigns that look great and actually perform.</p>
                    </div>
                  </div>
                </div>
                <div class="services-wrapper-box">
                  <div class="services-wrapper">
                    <a>
                      <div class="service-box">
                        <div class="bg-box">
                          <!-- <img src="assets/imgs/nestor-new/service-background.png"/> -->
                          <div class="bg-box-overlay"></div>
                        </div>
                        <h3 class="title">Digital Marketing<br>
                          <span>Clicks. Conversions. Consistency.</span>
                           </h3>
                              <div class="content">
                                <p class="text">
                                  We don’t just run ads — we build full-funnel digital strategies that connect the dots between awareness and action. From SEO to social to paid media, we get your brand seen (and remembered).
                                </p>

                                <a href="/service-marketing" class="wc-btn-group wc-btn-service" style="text-decoration:none;">
                                  <span class="wc-btn wc-btn-circle">
                                    <i class="fa-solid fa-arrow-right"></i>
                                  </span>

                                  <span class="wc-btn wc-btn-primary">Show me how</span>

                                  <span class="wc-btn wc-btn-circle">
                                    <i class="fa-solid fa-arrow-right"></i>
                                  </span>
                                </a>
                              </div>

                      </div>
                    </a>
                    <a>
                      <div class="service-box">
                        <div class="bg-box">
                          <!-- <img src="assets/imgs/nestor-new/service-background.png"/> -->
                          <div class="bg-box-overlay"></div>
                        </div>
                        <h3 class="title">Creative Design<br>
                          <span>Design That Speak Before You Do</span>
                           </h3>
                          <div class="content">
                            <p class="text">
                              Visual identity is everything. We create scroll-stopping graphics, bold branding, and smart layouts that turn heads and tell your brand’s story — at a glance.
                            </p>

                            <a href="/service-content" class="wc-btn-group wc-btn-service" style="text-decoration:none;">
                              <span class="wc-btn wc-btn-circle">
                                <i class="fa-solid fa-arrow-right"></i>
                              </span>

                              <span class="wc-btn wc-btn-primary">Impress me</span>

                              <span class="wc-btn wc-btn-circle">
                                <i class="fa-solid fa-arrow-right"></i>
                              </span>
                            </a>
                          </div>

                      </div>
                    </a>
                    <a>
                      <div class="service-box">
                        <div class="bg-box">
                          <!-- <img src="assets/imgs/nestor-new/service-background.png"/> -->
                          <div class="bg-box-overlay"></div>
                        </div>
                        <h3 class="title">Mobile App & Website Development<br>
                          <span>From Zero to Launch - Coded to Perform</span>
                           </h3>
                      <div class="content">
                        <p class="text">
                          We design and develop responsive websites and mobile apps that balance function and flair. Whether fully custom-coded or powered by smart templates and platforms, we tailor each build to match your goals — and your budget.
                        </p>

                        <a href="/service-web" class="wc-btn-group wc-btn-service" style="text-decoration:none;">
                          <span class="wc-btn wc-btn-circle">
                            <i class="fa-solid fa-arrow-right"></i>
                          </span>

                          <span class="wc-btn wc-btn-primary">Build it now</span>

                          <span class="wc-btn wc-btn-circle">
                            <i class="fa-solid fa-arrow-right"></i>
                          </span>
                        </a>
                      </div>

                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- service area end  -->

          <!-- process area start  -->
          <section class="process-area section-style section-item">
            <div class="container large">
              <div class="process-area-inner section-spacing">
                <div class="shape-1">
                  <img class="show-light" src="assets/imgs/nestor-new/anniversary.png" alt="image">
                </div>
                <div class="section-header">
                  <div class="section-title-wrapper">
                    <div class="title-wrapper ">
                      <h2 class="section-title">Building Great Brands for Over 10 Years — & Still Going Strong.</h2>
                    </div>
                    <div class="title-wrapper">
                      <div class="section-title text-video d-flex align-items-center w-100">
                        <span class="wc-btn wc-btn-circle wc-btn-circle-play">
                          <i class="fa-solid fa-play"></i>
                          </span>
                          <span class="text-dark">&nbsp;Watch Video </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="height: 120px;"></div>
                <div class="client-slider">
                  <div class="swiper client-slider-active">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/nestor-new/brand-1.png" alt="client image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/nestor-new/brand-2.png" alt="client image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/nestor-new/brand-3.png" alt="client image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/nestor-new/brand-4.png" alt="client image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/nestor-new/brand-5.png" alt="client image">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="process-wrapper-box">
                  <div class="process-wrapper d-flex flex-wrap justify-content-between">
                    <img src="assets/imgs/nestor-new/brand-1.png" alt="icon">
                    <img src="assets/imgs/nestor-new/brand-2.png" alt="icon">
                    <img src="assets/imgs/nestor-new/brand-3.png" alt="icon">
                    <img src="assets/imgs/nestor-new/brand-4.png" alt="icon">
                    <img src="assets/imgs/nestor-new/brand-5.png" alt="icon">
                    
                  </div>
                </div> -->
                <div style="height: 100px;"></div>
              </div>
            </div>
          </section>
          <!-- process area end  -->
          <!-- client area start  -->
          <section class="client-area section-style section-item">
            <div class="container large">
              <div class="testimonial-area-inner section-spacing">
                <div class="client-area-text">
                  <h2 class="section-title has_fade_anim" data-fade-from="bottom" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">Our Go-To-Platforms for Performance</h2>
                </div>
                <div class="clients-wrapper-box has_fade_anim" data-fade-from="bottom" data-fade-offset="30" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                  <div class="clients-wrapper">
                    <div class="client-box">
                      <img class="show-light" src="assets/imgs/nestor-new/platform-1.png" alt="client image">
                    </div>
                    <div class="client-box">
                      <img class="show-light" src="assets/imgs/nestor-new/platform-2.png" alt="client image">
                    </div>
                    <div class="client-box">
                      <img class="show-light" src="assets/imgs/nestor-new/platform-3.png" alt="client image">
                    </div>
                    <div class="client-box">
                      <img class="show-light" src="assets/imgs/nestor-new/platform-4.png" alt="client image">
                    </div>
                    <div class="client-box">
                      <img class="show-light" src="assets/imgs/nestor-new/platform-5.png" alt="client image">
                    </div>
                    <div class="client-box">
                      <img class="show-light" src="assets/imgs/nestor-new/platform-6.png" alt="client image">
                    </div>
                    <div class="client-box">
                      <img class="show-light" src="assets/imgs/nestor-new/platform-7.png" alt="client image">
                    </div>
                    <div class="client-box">
                      <img class="show-light" src="assets/imgs/nestor-new/platform-8.png" alt="client image">
                    </div>
                    <div class="client-box">
                      <img class="show-light" src="assets/imgs/nestor-new/platform-9.png" alt="client image">
                    </div>
                    <div class="client-box">
                      <img class="show-light" src="assets/imgs/nestor-new/platform-10.png" alt="client image">
                    </div>
                    <div class="client-box">
                      <img class="show-light" src="assets/imgs/nestor-new/platform-11.png" alt="client image">
                    </div>
                    <div class="client-box">
                      <img class="show-light" src="assets/imgs/nestor-new/platform-12.png" alt="client image">
                    </div>
                  </div>
                </div>
                <div style="height: 100px;"></div>
              </div>
            </div>
          </section>
          <!-- testimonial area end  -->

          <!-- blog area start  -->
          <section class="blog-area section-style section-item">
            <div class="container large">
              <div class="blog-area-inner section-spacing">
                <div class="section-header">
                  <div class="section-title-wrapper">
                    <div class="title-wrapper">
                      <h2 class="section-title has_fade_anim">This is How We Brand</h2>
                    </div>
                  </div>
                </div>
                <div class="blogs-wrapper-box">
                  <div class="blogs-wrapper">
                    <article class="blog has_fade_anim" data-fade-from="right" data-delay="0.15">
                      <div class="thumb">
                        <a>
                          <img src="assets/imgs/nestor-new/blog-image-1.png" alt="blog image">
                        </a>
                      </div>
                      <div class="content">
                        <h2 class="title"><a>Why Google Ads is Essential for Small Businesses</a></h2>
                        <div class="meta-list-space">
                          <a href="#"><span class="meta tag">Digital Marketing</span></a>
                          <span class="meta date">14 Jan 2025</span>
                        </div>
                      </div>
                    </article>
                    <article class="blog has_fade_anim" data-fade-from="right" data-delay="0.30">
                      <div class="thumb">
                        <a>
                          <img src="assets/imgs/nestor-new/blog-image-2.png"  alt="blog image">
                        </a>
                      </div>
                      <div class="content">
                        <h2 class="title"><a>SEO vs Paid Ads – Which Is Better for Your Business?</a></h2>
                        <div class="meta-list-space">
                          <a href="#"><span class="meta tag">Digital Marketing</span></a>
                          <span class="meta date">14 Jan 2025</span>
                        </div>
                      </div>
                    </article>
                    <article class="blog has_fade_anim" data-fade-from="left" data-delay="0.45">
                      <div class="thumb">
                        <a>
                          <img src="assets/imgs/nestor-new/blog-image-3.png" alt="blog image">
                        </a>
                      </div>
                      <div class="content">
                        <h2 class="title"><a >Storytelling in Video Marketing: How Brands Win Hearts</a></h2>
                        <div class="meta-list">
                          <a href="#"><span class="meta tag">Content Creation</span></a>
                          <span class="meta date">14 Jan 2025</span>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
              <div class="section-content section-spacing-bottom">
                <div class="row">
                  <div class="col-lg-6"></div>
                  <div class="col-lg-6 text-wrapper mb-10">
                    <p class="text-dark has_text_move_anim">Insights, experiments and lesson from behind the scenes at Nestor.</p>
                  </div>
                  <div class="col-lg-6"></div>
                  <div class="col-lg-6 btn-wrapper has_fade_anim" data-fade-from="left">
                    <div class="wc-btn-group">
                      <a class="wc-btn wc-btn-circle btn-gradient thick" >
                        <i class="fa-solid fa-arrow-right"></i>
                      </a>
                      <a class="wc-btn wc-btn-primary btn-gradient thick" >Read the playbook</a>
                      <a class="wc-btn wc-btn-circle btn-gradient thick">
                        <i class="fa-solid fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- blog area end  -->

        </main>

        <!-- footer area start  -->
        <footer class="footer-area section-style pb-0">
          <div class="container large">
            <div class="section-spacing">
              <div class="footer-widget-wrapper">
                <h2 class="title">Got a Big Idea? Let's Make It Bigger</h2>
              </div>
              <div class="footer-widget-wrapper mt-30">
                <h1 class="title-2">LET’S TURN “WHAT IF”</h1>
              </div>
              <div class="footer-widget-wrapper">
                <h1 class="title-2 text-end">INTO “WHAT’S NEXT”</h1>
              </div>
              <div class="section-content mt-50">
                <div class="row">
                  <div class="col-lg-6"></div>
                  <div class="col-lg-6 btn-wrapper has_fade_anim" data-fade-from="left">
                    <div class="wc-btn-group">
                      <a class="wc-btn wc-btn-circle btn-white thick" href="/contact">
                        <i class="fa-solid fa-arrow-right"></i>
                      </a>
                      <a class="wc-btn wc-btn-primary btn-white thick" href="/contact">Make it Happen</a>
                      <a class="wc-btn wc-btn-circle btn-white thick">
                        <i class="fa-solid fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="copyright-area container large">
            <div class="copyright-area-inner">
              <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="">
                  <p class="text-white">Nestor Professional Services (M) Sdn. Bhd. </p>
                  <p class="text-white text-medium">201501006365 (1131697-H) </p>
                  <p class="text-white">&nbsp;</p>
                  <p class="text-white-transparent text-small">Unit 110A, Jalan 21/39, Damansara Utama,  </p>
                  <p class="text-white-transparent text-small">47400 Petaling Jaya, Selangor </p>
                </div>
                <div class="">
                  <input type="text" placeholder="Enter your email">
                </div>
              </div>
              
            </div>
          </div>
          <div class="copyright-area container large">
            <div class="copyright-area-inner">
              <div class="row">
                <div class="col-lg-5">
                  <p class="text-white-transparent text-small">© 2025 Nestor Professional Services. All rights reserved.</p>
                </div>
                <div class="col-lg-7">
                  <div class="d-flex flex-wrap justify-content-end">
                    <a class="text-white text-facebook" href="https://www.facebook.com/nestor.com.my"><i class="fa-brands fa-facebook"></i></a>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </footer>
        <!-- footer area end  -->

      </div>
    </div>
  </div>
</body>